
body {
     margin: 0px;
     font-family: 'Jost', sans-serif;
     min-width: 1000px;
     background-color:#FF7F99;
     /*overflow-x: hidden;*/              /* per deshabilitar scroll horitzontal de tota la pàgina*/
}

header{
     background-color:#FF7F99;
     display: flex;
     width: 100%;
     height: 100px;
     position: fixed;                         /* capçalera fixa tot i l'scroll */ 
     font-family: 'Jost', sans-serif; 
}

.logo {
     display: flex;
     margin-left: 40px;
     align-items: center;
     font-size: 40px;
     font-weight: bold;
     width: 55%;
     min-width: 300px;
     /*pointer-events:none;                    /*habilitar mà sobre link logotip per tornar a inici*/
     cursor: default;
     min-width: 400px;
     
}

.Boira {
     color:white;
     font-family: 'Jost', sans-serif;
     font-size: 40px;
}

.Consulting {
     color: #fff27e;
     font-family: 'Jost', sans-serif;
     font-size: 40px;
}

.menu {
     font-size: 25px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 45%;
     height: 100%;
     padding-right: 30px;
     text-decoration: none;
     
}

.body {
     background-color: #FFFFFF;
     height: 652px;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding-top: 100px;                   /* perquè caçalera està fixa tot i l'scroll */ 
}

.imatgecentral {
     padding: 30px;
     width: 50%;
     min-width: 600px;
}

.logolink:link{
     text-decoration: none;
}

.menulink:hover {
     border-style:solid;
     border-color: #ffca41;
     border-radius: 45px;
     color:#FFFFFF;
     text-decoration: none;
     border-width: 1px;
     background-color: #ff9492;  
}

.menulink:visited {
     color:#FFFFFF;
     text-decoration: none;
}

.menulink:link {
     color:#FFFFFF;
     text-decoration: none;
     padding-left:25px;
     padding-top:10px;
     padding-right:25px;
     padding-bottom:10px;   
}

.menulink:active {
     background-color: #ffca41;
}

.textcentral {
     background-color: #FFFFFF;
     width: 50%;
     height: 100%;
     padding-left: 100px;
}


h1 {                               /* títol central */
     font-size: 75px;
     font-weight:400;
     color: #d06077;
     margin: 0px;
}

.consultores{
     display: flex;
     margin-top: 140px;   
}

.tecnologicos {
     display:flex;
     margin-top: -160px;

}

.secundari {                        /* subtitol central */
     display: flex;
     color:black;
     font-size: 21px;
     margin:0px;
     justify-content: flex-start;     
} 

.boto {
     width: fit-content;
     height: fit-content;
     display: flex;
     color: #FFFFFF;
     font-weight:bold;
     font-size: 20px;
     background-color: #ffca41;
     border-radius: 45px;
     border-color: #ffca41;
     border-style: solid;
     padding-left: 35px;
     padding-right: 35px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 40px; 
     text-decoration: none;
}

.boto:hover {
     background-color: #91e40b;
     border-color: #91e40b;
     color: #FFFFFF;
   }
   
.boto:active {
     background-color: #b5f055;
     border-color: #b5f055;
     border-style:inherit;
     color: #FFFFFF;
   }

.bottom {
     background-color: #FF7F99;
     height: 600px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.avatar{
     height: 277px;
     width: 277px;
     border-radius: 50%;
     max-width: 100%;
     min-width: 50px;
     height: auto;                       /*responsive image*/
     max-height: 100%;
     min-height: 50px;
}


h2{                                         /*Nom Avatar*/
     display:flex;
     color:white;
     justify-content:center;
     font-weight: bold;
     margin: 0;                       
     padding: 0;
     font-size: 1.5vw;                /*responsive text*/
}

h3{                                  /*Subtitol Avatar*/
     display:flex;
     justify-content:center;
     font-weight: bold;
     margin: 0;
     padding: 0;
     font-size: 1.2vw;               /*responsive text*/
}

.linkedin {
     display:block;
     margin:auto;
     height:30px;
     width:30px;
     padding-top: 10px;
}



