body {
     margin: 0px;
}

header{
     background-color:#FF7F99;
     display: flex;
     height: 100px;
}

.title {
     display: flex;
     margin-left: 40px;
     align-items: center;
     font-size: 40px;
     font-weight: bold;
     width: 55%;
     min-width: 300px;
}

.menu {
     font-size: 20px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 45%;
     height: 100%;
     padding-right: 30px;
}

.body {
     background-color: #FFFFFF;
     height: 652px;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.imatgecentral {
     padding: 30px;
     width: 50%;
}

.textcentral {
     background-color: #FFFFFF;
     width: 50%;
     height: 100%;
}

h1 {
     font-size: 50px;
}

h2 {
     font-size: 20px;
     vertical-align: text-top;
}

.bottom {
     background-color: #FF7F99;
     height: 600px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
